<wicket:panel xmlns:wicket="http://www.w3.org/1999/xhtml">
	<div class="container-fluid p-3">
		<h3 class="text-center" wicket:id="panelTitle"></h3>

		<div wicket:id="feedback" class="feedback"></div>

		<form wicket:id="form" role="form">

			<div class="form-group" wicket:id="selectWalletContainer">
				<label wicket:id="selectWalletLabel"></label>
				<select wicket:id="selectWallet" class="custom-select"></select>
			</div>
			<div class="form-group">
				<label wicket:id="passwordLabel"></label>
				<input type="password" wicket:id="password" class="form-control"/>
			</div>

			<div class="form-group" wicket:id="selectTokenContainer">
				<label wicket:id="selectTokenLabel"></label>
				<select wicket:id="selectToken" class="custom-select"></select>
			</div>
			<div class="form-group">
				<label wicket:id="quantityLabel"></label>
				<input type="text" wicket:id="quantity" class="form-control"/>
			</div>

			<wicket:child/>

			<div class="form-group text-center">
				<input type="submit" wicket:id="submitButton" class="btn btn-primary" />
			</div>
		</form>
	</div>
</wicket:panel>