<wicket:panel xmlns:wicket="http://www.w3.org/1999/xhtml">
	<div class="container-fluid p-3">
		<div class="card">
			<div class="card-header">
				<div class="d-inline-block">
					<i class="fa fa-info-circle"></i>
					<h5 class="d-inline-block">
						<wicket:message key="info.title"></wicket:message>
					</h5>
				</div>
			</div>
			<div class="card-body text-center">
				<div wicket:id="description"></div>
			</div>
			<div class="card-footer">
				<div wicket:id="okButton" class="float-right"></div>
			</div>
		</div>
	</div>
</wicket:panel>