<wicket:panel>
<div class="container">
<p class="help-block"><wicket:message key="cryptocurrency.inputTokenPasswordHelp">Please input wallet password and select token quantity</wicket:message></p>
<div wicket:id="feedback"></div>
<form wicket:id="popupForm" role="form">
  <div class="form-group">
    <div>
    <wicket:message key="cryptocurrency.inputTokenPassword">Wallet password</wicket:message>
    <input type="password" wicket:id="walletPassword"/>
    </div>
    <div>
    <wicket:message key="cryptocurrency.inputTokenTarget">Target wallet address</wicket:message>
    <input type="text" wicket:id="targetWalletAddress"/>
    </div>
    <div>
    <wicket:message key="cryptocurrency.inputTokenQuantity">Token quantity(in WEI)</wicket:message>
    <input type="text" wicket:id="tokenQuantity"/>
    </div>
  </div>
  <input type="submit" wicket:id="submitButton" class="btn btn-primary" />
</form>
</div>
</wicket:panel>