<wicket:panel xmlns:wicket="http://www.w3.org/1999/xhtml">
	<div class="card wallet-card">
		<div class="card-header">
			<i class="fa fa-briefcase" aria-hidden="true"></i>
			<span wicket:id="title">Wallet Name</span>
			<a wicket:id="deleteCommand" class="btn btn-danger btn-xs invisible float-right delete-wallet-command my-auto">
				<i class="fa fa-times"></i>
			</a>
		</div>
		<div class="card-body">
			<div class="text-center">
				<h1 class="card-text m-2">
					<strong wicket:id="balance">Wallet Balance</strong>
				</h1>
				<select class="custom-select select-token" wicket:id="selectToken"></select>
			</div>
			<div class="mt-3">
				<a class="card-link float-left" wicket:id="detailsLink"></a>
				<div wicket:id="refillLink"></div>
			</div>
		</div>
	</div>
</wicket:panel>