
.registration > .form-group > .form-control {
    text-align: center;
}

.registration-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.add-transaction-commands > .commandstoolbar {
    background: #ffffff !important;
    margin-top: 50px !important;
}